openapi: 3.0.1
info:
  title: This API is the database interface for datasets and run results.
  description: This API is the database interface for datasets and run results.
  version: "1.0"
servers:
  - url: 'https://feed-uvl.ifi.uni-heidelberg.de'
paths:
  /hitec/repository/concepts/store/dataset/:
    post:
      summary: Store a dataset
      description: Store a dataset.
      operationId: postDataset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
        required: true
      responses:
        200:
          description: Dataset successfully stored.
          content: {}
        400:
          description: Bad input parameter or invalid data.
          content: {}
      x-codegen-request-body-name: dataset
  /hitec/repository/concepts/store/groundtruth/:
    post:
      summary: Stores groundtruth data for a dataset
      description: Accept an empty dataset when the dataset name is already in database adds the groundtruth.
      operationId: postAddGroundTruth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
        required: true
      responses:
        200:
          description: Groundtruth successfully added.
          content: {}
        400:
          description: Bad input parameter or dataset name invalid/non-existent.
          content: {}
      x-codegen-request-body-name: Dataset
  /hitec/repository/concepts/store/detection/result/:
    post:
      summary: Stores a result in the database
      description: Stores a result in the database.
      operationId: postDetectionResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Result'
        required: true
      responses:
        200:
          description: Result successfully stored.
          content: {}
        400:
          description: Bad input parameter.
          content: {}
      x-codegen-request-body-name: Result
  /hitec/repository/concepts/store/detection/result/name:
    post:
      summary: Changes the name of a result
      description: Changes the name of a result, takes a result object with a valid timestamp for a result in the database.
      operationId: postUpdateResultName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Result'
        required: true
      responses:
        200:
          description: Result name successfully changed.
          content: {}
        400:
          description: Bad input parameter or name could not be changed.
          content: {}
      x-codegen-request-body-name: Result
  /hitec/repository/concepts/detection/result/all:
    get:
      summary: Returns all results
      description: Returns all results.
      operationId: getAllDetectionResults
      responses:
        200:
          description: List of results
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Results'
        500:
          description: Server error when retrieving results.
          content: {}
  /hitec/repository/concepts/dataset/all:
    get:
      summary: Get all datasets.
      description: Get all datasets.
      operationId: getAllDatasets
      responses:
        200:
          description: List of datasets
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Datasets'
        500:
          description: Server error when retrieving datasets.
          content: {}
  /hitec/repository/concepts/dataset/name/dataset:
    get:
      summary: Get a dataset by name
      description: Get a dataset by name.
      operationId: getDataset
      responses:
        200:
          description: Dataset with matching name or empty dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        400:
          description: Bad input parameter.
          content: {}
    delete:
      summary: Delete a dataset by name
      description: Delete a dataset by name.
      operationId: deleteDataset
      responses:
        200:
          description: Dataset successfully deleted.
          content: {}
        400:
          description: Bad input parameter or could not delete dataset.
          content: {}
  /hitec/repository/concepts/detection/result/result:
    delete:
      summary: Delete result with timestamp
      description: Delete result with timestamp.
      operationId: deleteResult
      responses:
        200:
          description: Result successfully deleted.
          content: {}
        400:
          description: Bad input parameter or could not delete result.
          content: {}
components:
  schemas:
    Datasets:
      type: array
      items:
        $ref: '#/components/schemas/Dataset'
    Results:
      type: array
      items:
        $ref: '#/components/schemas/Result'
    Dataset:
      type: object
      properties:
        uploaded_at:
          type: string
        name:
          type: string
        size:
          type: integer
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        ground_truth:
          type: array
          items:
            $ref: '#/components/schemas/TruthElement'
    Result:
      type: object
      properties:
        method:
          type: string
        status:
          type: string
        started_at:
          type: string
        name:
          type: string
        dataset_name:
          type: string
        params:
          type: object
        topics:
          type: object
        doc_topic:
          type: object
        metrics:
          type: object
    TruthElement:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
    Document:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        number:
          type: integer

