# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jakob Weichselbaumer\Desktop\Move\School\advanced_practical\git\ri-storage-concepts\uvl-storage-concepts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
